header{
    
    width: 20%;
    float:left;
    
}    

nav{
    
    width: 80%;
    float: left;
    padding-top:20px;
}

section{
    clear:both;
    background-color:blue;
}

h1{
    font-family: cambria;
    color : #000000
}

li{
    
    text-transform:uppercase;
    list-style-type: none;
    display: inline-block;
    padding-left: 15px;
}

li#primer_li{
    padding-left:125px;
}
